export GOOGLE_GENERATIVE_AI_API_KEY=...
export UPSTASH_REDIS_REST_TOKEN=...
export UPSTASH_REDIS_REST_URL=...
export GEMINI_MODEL=gemini-2.5-flash
export GEMINI_EMBEDDING_MODEL=gemini-embedding-001

echo "Environment variables set"
echo "GOOGLE_GENERATIVE_AI_API_KEY=$GOOGLE_GENERATIVE_AI_API_KEY"
echo "UPSTASH_REDIS_REST_TOKEN=$UPSTASH_REDIS_REST_TOKEN"
echo "UPSTASH_REDIS_REST_URL=$UPSTASH_REDIS_REST_URL"
echo "GEMINI_MODEL=$GEMINI_MODEL"
echo "GEMINI_EMBEDDING_MODEL=$GEMINI_EMBEDDING_MODEL"